[submodule "esp32/weapon"]
	path = esp32/weapon
	url = https://github.com/David-ssnd/rayz-weapon.git

[submodule "esp32/target"]
	path = esp32/target
	url = https://github.com/David-ssnd/rayz-target.git

[submodule "web"]
	path = web
	url = https://github.com/David-ssnd/rayz-web.git
[submodule "esp32/shared"]
	path = esp32/shared
	url = https://github.com/David-ssnd/rayz-shared.git
